






/*--------------------------Individual Pages Test---------------------------*/

/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* TRANSITION */
/*FONT SIZE - LINE HEIGHT EM*/
/* TRANSFORM */
 html, body, input, button {
     -webkit-text-size-adjust: none;
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
}
 body, h1, h2, h3, h4, h5, h6, ul, ol, p, hr, form {
     margin: 0px;
     padding: 0px;
     border: none;
}
 html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font-weight: normal;
     vertical-align: baseline;
     background: transparent;
}
 section, nav, article, aside, header, footer, main, figure, figcaption {
     display: block;
}
 hr {
     float: left;
     width: 100%;
     height: 1px;
}
 ul, ol {
     list-style: none;
}
 ::selection {
     background: rgba(255, 255, 255, 0);
     color: rgba(183, 135, 39, 1);
}
 ::-moz-selection {
     background: rgba(255, 255, 255, 0);
     color: rgba(183, 135, 39, 1);
}
 input {
     width: auto;
}
 input[type="text"], input[type="password"], input[type="email"], textarea {
     width: 100%;
     float: left;
     margin: 0px;
     padding: 0px;
     border: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 textarea {
     resize: vertical;
}
 input:focus, textarea:focus, select:focus {
     outline: none;
}
 *:before, *:after, * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
/*GRID*/
 .container {
     margin-left: auto;
     margin-right: auto;
     width: 1170px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .row {
     width: 100%;
     max-width: 1170px;
     margin: 0 auto;
     zoom: 1;
     padding: 0;
}
 .row:before, .row:after {
     content: "";
     display: table;
}
 .row:after {
     clear: both;
}
 .row > div {
     float: left;
     margin-right: gutter;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .col-1 {
     width: 8.3333333333%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-1.p-l-0 {
     padding-left: 0;
}
 .col-1.p-r-0 {
     padding-right: 0;
}
 .col-2 {
     width: 16.6666666667%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-2.p-l-0 {
     padding-left: 0;
}
 .col-2.p-r-0 {
     padding-right: 0;
}
 .col-3 {
     width: 25%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-3.p-l-0 {
     padding-left: 0;
}
 .col-3.p-r-0 {
     padding-right: 0;
}
 .col-4 {
     width: 33.3333333333%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-4.p-l-0 {
     padding-left: 0;
}
 .col-4.p-r-0 {
     padding-right: 0;
}
 .col-5 {
     width: 41.6666666667%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-5.p-l-0 {
     padding-left: 0;
}
 .col-5.p-r-0 {
     padding-right: 0;
}
 .col-6 {
     width: 50%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-6.p-l-0 {
     padding-left: 0;
}
 .col-6.p-r-0 {
     padding-right: 0;
}
 .col-7 {
     width: 58.3333333333%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-7.p-l-0 {
     padding-left: 0;
}
 .col-7.p-r-0 {
     padding-right: 0;
}
 .col-8 {
     width: 66.6666666667%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-8.p-l-0 {
     padding-left: 0;
}
 .col-8.p-r-0 {
     padding-right: 0;
}
 .col-9 {
     width: 75%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-9.p-l-0 {
     padding-left: 0;
}
 .col-9.p-r-0 {
     padding-right: 0;
}
 .col-10 {
     width: 83.3333333333%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-10.p-l-0 {
     padding-left: 0;
}
 .col-10.p-r-0 {
     padding-right: 0;
}
 .col-11 {
     width: 91.6666666667%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-11.p-l-0 {
     padding-left: 0;
}
 .col-11.p-r-0 {
     padding-right: 0;
}
 .col-12 {
     width: 100%;
     padding-left: 2.5641025641%;
     padding-right: 2.5641025641%;
    /*HELP CLASS to disable left gutter*/
    /*HELP CLASS to disable right gutter*/
}
 .col-12.p-l-0 {
     padding-left: 0;
}
 .col-12.p-r-0 {
     padding-right: 0;
}
/* =========================================================== * pagepiling.js 1.5 * * https://github.com/alvarotrigo/fullPage.js * MIT licensed * * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo * * ========================================================== */
 html, body {
     overflow: hidden;
     margin: 0;
     padding: 0;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*Avoid flicker on slides transitions for mobile phones #336 */
}
 .pp-section {
     height: 100%;
     position: absolute;
     width: 100%;
}
 .pp-easing {
     -webkit-transition: all 1.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
     -khtml-transition: all 1.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
     -moz-transition: all 1.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
     -ms-transition: all 1.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
     -o-transition: all 1.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
     transition: all 1.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
    /* custom */
     -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
     -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
     -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
     transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
    /* custom */
}
 #pp-nav {
     position: fixed;
     z-index: 100;
     margin-top: -32px;
     top: 50%;
     opacity: 1;
}
 #pp-nav.right {
     right: 17px;
}
 #pp-nav.left {
     left: 17px;
}
 .pp-section.pp-table {
     display: table;
}
 .pp-tableCell {
     display: table-cell;
     vertical-align: middle;
     width: 100%;
     height: 100%;
}
 .pp-slidesNav {
     position: absolute;
     z-index: 4;
     left: 50%;
     opacity: 1;
}
 .pp-slidesNav.bottom {
     bottom: 17px;
}
 .pp-slidesNav.top {
     top: 17px;
}
 #pp-nav ul, .pp-slidesNav ul {
     margin: 0;
     padding: 0;
}
 #pp-nav li, .pp-slidesNav li {
     display: block;
     width: 14px;
     height: 13px;
     margin: 7px;
     position: relative;
}
 .pp-slidesNav li {
     display: inline-block;
}
 #pp-nav li a, .pp-slidesNav li a {
     display: block;
     position: relative;
     z-index: 1;
     width: 100%;
     height: 100%;
     cursor: pointer;
     text-decoration: none;
}
 #pp-nav li .active span, .pp-slidesNav .active span {
     background: rgba(0, 0, 0, 1);
}
 #pp-nav span, .pp-slidesNav span {
     top: 2px;
     left: 2px;
     width: 8px;
     height: 8px;
     border: 1px solid rgba(0, 0, 0, 0.1);
     background: rgba(0, 0, 0, 0);
     border-radius: 50%;
     position: absolute;
     z-index: 1;
}
 .pp-tooltip {
     position: absolute;
     top: -2px;
     color: #fff;
     font-size: 14px;
     font-family: arial, helvetica, sans-serif;
     white-space: nowrap;
     max-width: 220px;
}
 .pp-tooltip.right {
     right: 20px;
}
 .pp-tooltip.left {
     left: 20px;
}
 .pp-scrollable {
     overflow-y: scroll;
     height: 100%;
}
 a {
     text-decoration: none;
}
/*CITY NAVIGATION*/
 .city-navigation-wrapper {
     position: fixed;
     top: 50%;
     left: 50px;
     margin-top: -90px;
     z-index: 10;
}
 .city-navigation-wrapper ul li a {
     font-family: Georgia, "Times New Roman", serif;
     color: rgba(0, 0, 0, 0.5);
     font-size: 10px;
     line-height: 5.5;
     position: relative;
     display: block;
     width: 55px;
     height: 45px;
     text-align: center;
}
 .city-navigation-wrapper ul li a:before {
     content: "";
     right: 100%;
     opacity: 0;
     top: 27px;
     width: 0;
     height: 1px;
     background-color: rgba(0, 0, 0, 1);
     position: absolute;
     -webkit-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city-navigation-wrapper ul li.active a {
     color: rgba(0, 0, 0, 1);
}
 .city-navigation-wrapper ul li.active a:before {
     opacity: 1;
     width: 45px;
}
/*CITY WRAPPER*/
 .city-wrapper {
     background: rgba(255, 255, 255, 1);
}
 .city-wrapper:before {
     content: "";
     height: 12px;
     width: 1px;
     background-color: rgba(0, 0, 0, 1);
     position: absolute;
     top: 1px;
     left: 50%;
     display: block;
     -webkit-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city-wrapper:after {
     content: "";
     height: 12px;
     width: 1px;
     background-color: rgba(0, 0, 0, 1);
     position: absolute;
     bottom: 1px;
     left: 50%;
     display: block;
     -webkit-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city-wrapper.active .figure {
     opacity: 1;
     padding-top: 18%;
     padding-bottom: 18%;
}
 .city-wrapper.active .figure .img {
     -webkit-transform: translateX(-50%) translateY(-50%);
     -khtml-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
     -ms-transform: translateX(-50%) translateY(-50%);
     -o-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
}
 .city-wrapper.active .figcaption {
     top: 68%;
     opacity: 1;
}
 .city-wrapper.active .figcaption h3 {
     line-height: 1.3em;
}
 .city-wrapper.active:before {
     opacity: 1;
     height: 62px;
}
 .city-wrapper.active:after {
     opacity: 1;
     height: 62px;
}
 .city {
     position: relative;
}
 .city figure {
     overflow: hidden;
     height: 0;
     padding-top: 14%;
     padding-bottom: 14%;
     opacity: 0;
     position: relative;
     text-align: center;
     z-index: 1;
     -webkit-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 0.5s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city figure img {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translateX(-50%) translateY(5%);
     -khtml-transform: translateX(-50%) translateY(5%);
     -moz-transform: translateX(-50%) translateY(5%);
     -ms-transform: translateX(-50%) translateY(5%);
     -o-transform: translateX(-50%) translateY(5%);
     transform: translateX(-50%) translateY(5%);
     -webkit-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city .figcaption {
     position: absolute;
     text-align: center;
     top: 48%;
     opacity: 0;
     left: 0;
     width: 100%;
     z-index: 2;
     -webkit-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city .figcaption h3 {
     font-family: Georgia, "Times New Roman", serif;
     color: rgba(0, 0, 0, 1);
     font-size: 116px;
     line-height: 0.8em;
     -webkit-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -khtml-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -moz-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -ms-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     -o-transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
     transition: all, 1s, cubic-bezier(0.62, 0.28, 0.23, 0.99) 1s ease-in-out;
}
 .city .figcaption .dates {
     display: block;
     font-family: Arial, sans-serif;
     font-size: 10px;
     line-height: 3.7;
}
 .city .figcaption .view-more {
     font-family: Georgia, "Times New Roman", serif;
     color: rgba(0, 0, 0, 1);
     font-style: italic;
     font-size: 12px;
     line-height: 3.0833333333;
}
 


/*--------------------------Image Hovers---------------------------*/


.campus-static, .pacific-static, .youth-static, .forage-static, .harney-static, .whales-static, .revenge-static, .surreal-static, .landscapes-static, .other-static{
  position:absolute;
}

.campus-static:hover, .pacific-static:hover, .youth-static:hover, .forage-static:hover, .harney-static:hover, .whales-static:hover, .revenge-static:hover, .surreal-static:hover, .landscapes-static:hover, .other-static:hover{
  opacity:0
}

.mobile-client-static, .mobile-class-static, .mobile-photography-static{
    position:absolute;
}


.mobile-client-static:hover, .mobile-class-static:hover, .mobile-photography-static:hover{
  opacity:0;
}

body{
    background-color: #fff8ee;
    width:100%;
}

/*--------------------------BE BACK---------------------------*/



/*---------------------------NAV---------------------------*/


nav{
	width:50%;
    display:flex;
	
}


a{
color:#000;
text-decoration:none;
display:flex;
font-family: work-sans, sans-serif;
font-weight: 200;
font-style: normal;
font-size:16px;
padding:20px;
margin:30px;
}

/*---------------------------TYPE---------------------------*/


h1{
font-family: vendetta, serif;
font-weight: 300;
font-style: normal;
font-size:50px;
color:#005c27;
}

h2{
font-family: work-sans, sans-serif;
font-weight: 200;
font-style: normal;
font-size:18px;
}

p{
font-family: work-sans, sans-serif;
font-weight: 200;
font-style: normal;
font-size:16px;
}

/*---------------------------Page 1---------------------------*/
body{
    width:100%;
}

.landing{
    display:grid;
    grid-template-columns: 60% 40%;
}


.intro{ 

height:50vh;

padding:40px;

 }

.opportunities{
    height:10vh;
    padding:30px;
    border-bottom:solid .5px #000;
   
}

.work-row1, .work-row3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    border-bottom:solid .5px #000;
    padding:40px;
}

.campusrec, .pacificsentinel, .youthmusicproject, .forage, .revengeseries, .whales, .harneysons, .surreal, .landscapes, .other{
    border:solid 1px black;
    height:300px;
}


.work-row2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    border-bottom:solid .5px #000;
    padding:40px;

}


.mobile-client, .mobile-class, .mobile-photography{
    display:none;
} 

/*---------------------------FOOTER---------------------------*/


.footer-section{
width:100%;
height:30vh;
padding:30px;
}

textarea {
margin:auto;
width: 50%;
height: 150px;
padding: 12px 20px;
background-color: #fff8ee;
font-family: work-sans, sans-serif;
font-weight: 200;
font-style: normal;
font-size:16px;
resize: none;
color: #005c27;
border:none;
}




.footer{
    margin: 0px auto;
    padding-bottom:0px;
    width:100%;
    text-align: center;
    font-family: vendetta, serif;
    font-weight: 300;
    font-style: normal;
    font-size:13px;
    color:#005c27;
    }




/*///////////////////MEDIA QUERIES/////////////////////////////////*/

@media only screen and (max-width:768px) {

.landing, .work-row1, .work-row2, .work-row3{
    grid-template-columns: 1fr;
}

.work-row1, .work-row2, .work-row3{
    display:none;
}

.mobile-client, .mobile-class, .mobile-photography{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 padding:40px;
 border:solid 1px #000;
 margin:auto;

}

}


@media only screen and (min-width:1224px) {






}    